<?php require ('app/head.php'); ?>

<section id="menu-0">
  <nav class="navbar navbar-dropdown navbar-fixed-top">

    <?php $punkt = "ind2"; require_once ('app/nav.php'); ?>

    <div id="menu-1" class="block-absolute">
      <div class="bg-color white-90 mbr-table-cell"></div>
      <div class="container">
        <div class="row">
          <div class="mbr-table">
            <div class="col-lg-3 col-md-4 col-sm-9">
              <div class="block-h white-100 mbr-table-cell">
                <div class="mbr-table-cell">
                  <div class="navbar-brand">
                    <a href="/" class="navbar-logo"><img src="images/logo.svg" alt="Добродача"></a>
                  </div>
                </div>

                <?php require ('app/menu-left-2.php'); ?>

              </div>
              <div class="mask mbr-table-cell"></div>
            </div>

            <?php require ('app/slogan.php'); ?>

          </div>
        </div>
      </div>
    </div>
  </nav>
</section>
  <section id="hero" class="two">
    <div class="bg-img"></div>
  </section>

  <section id="tab">
    <div class="container">
      <div class="articles">
        <div class="col-lg-5 col-md-5">
          <div class="gallery">

            <div class="mbr-slider mbr-section mbr-section__container carousel slide mbr-section-nopadding" data-ride="carousel" data-keyboard="false" data-wrap="true" data-pause="false" data-interval="5000" id="index-slider3-0" style="background-color: rgb(255, 255, 255);">
              <div class=" container boxed-slider" style="padding-top: 0; padding-bottom: 15px;">
                <div>
                  <div>
                    <ol class="carousel-indicators">
                      <li data-app-prevent-settings="" data-target="#index-slider3-0" class="active" data-slide-to="0"></li><li data-app-prevent-settings="" data-target="#index-slider3-0" data-slide-to="1"></li><li data-app-prevent-settings="" data-target="#index-slider3-0" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                      <div class="mbr-section mbr-section-hero carousel-item dark center active" data-bg-video-slide="false">
                        <div class="mbr-table-cell">
                          <div class="mbr-overlay" style="opacity: 0.3;"></div>
                          <div class="container-slide">
                            <img src="images/slider2/001.jpg">
                            <div class="row">
                              <div class="col-md-8 col-md-offset-2 text-xs-center">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div><div class="mbr-section mbr-section-hero carousel-item dark center" data-bg-video-slide="false">
                        <div class="mbr-table-cell">
                          <div class="mbr-overlay" style="opacity: 0.3;"></div>
                          <div class="container-slide">
                            <img src="images/slider2/002.jpg">
                            <div class="row">
                              <div class="col-md-8 col-md-offset-1">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div><div class="mbr-section mbr-section-hero carousel-item dark center" data-bg-video-slide="false">
                        <div class="mbr-table-cell">
                          <div class="mbr-overlay" style="opacity: 0.3;"></div>
                          <div class="container-slide">
                            <img src="images/slider2/001.jpg">
                            <div class="row">
                              <div class="col-md-8 col-md-offset-3 text-xs-right">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <a data-app-prevent-settings="" class="left carousel-control" role="button" data-slide="prev" href="#index-slider3-0">
                      <span class="icon-prev" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a data-app-prevent-settings="" class="right carousel-control" role="button" data-slide="next" href="#index-slider3-0">
                      <span class="icon-next" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>



            <div class="col-lg-4 col-md-6 col-sm-3 col-xs-4 min-paad">
              <div class="opt">
                <div class="img-opt">
                  <span class="icons icon-fa-museum"></span>
                  <img src="images/specifick/001.jpg" alt="">
                </div>
                <div class="specific">
                  <p>Культура</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-3 col-xs-4 min-paad">
              <div class="opt">
                <div class="img-opt">
                  <span class="icons icon-fa-poezd"></span>
                  <img src="images/specifick/002.jpg" alt="">
                </div>
                <div class="specific">
                  <p>Доступность</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-3 col-xs-4 min-paad">
              <div class="opt">
                <div class="img-opt">
                  <span class="icons icon-fa-sheet"></span>
                  <img src="images/specifick/003.jpg" alt="">
                </div>
                <div class="specific">
                  <p>Природа</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-3 col-xs-4 min-paad">
              <div class="opt">
                <div class="img-opt">
                  <span class="icons icon-fa-cart"></span>
                  <img src="images/specifick/004.jpg" alt="">
                </div>
                <div class="specific">
                  <p>Магазины</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-3 col-xs-4 min-paad">
              <div class="opt">
                <div class="img-opt">
                  <span class="icons icon-fa-ship"></span>
                  <img src="images/specifick/005.jpg" alt="">
                </div>
                <div class="specific">
                  <p>Речка</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-3 col-xs-4 min-paad">
              <div class="opt">
                <div class="img-opt">
                  <span class="icons icon-fa-lamp"></span>
                  <img src="images/specifick/006.jpg" alt="">
                </div>
                <div class="specific">
                  <p>Фонари</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-7 col-md-7">



            <div class="tabs">
              <ul>
                <li>Поселок Ваньково</li>
                <li>Инфраструктура</li>
                <li>Коммуникации</li>
              </ul>
              <div>
                <div>
                  <article>
                    <p>
                      Коттеджный поселок "Блазново" находится в 95км от МКАД по Минскому или Можайскому шоссе, вблизи деревни Блазново на берегу Можайского моря.</p>
                    <p>
                      Уютный современный поселок всего на 25 домов расположился в красивейшем месте Подмосковья, в непосредственной близости от Можайского водохранилища на землях насеселенных пунктов и по сути является частью старинной деревни Блазново. Это означает, что все жители поселка могут свободно прописываться в своих домовладениях, минуя долгие судебные тяжбы, также как прописываются в обычных городских квартирах и пользоваться всей доступной инфраструктурой ближайшего города Можайск, который расположен всего в 5км, сменив тесные городские квартиры на просторные загородные дома, не потеряв при этом в комфорте.</p>
                    <p>
                      Еще одним преимуществом такого статуса земельных участков, является полное отсутствие каких либо ежемесячных поборов, как в соседних дачных поселках, расположенных на землях сельскохозяйственного назначения, что в наше непростое время является весьма важным фактором.</p>
                    <p>
                      Ну и конечно же основным достоинством деревни Блазново является ее расположение непосредственно на берегу Можайского водохранилища, где каждый найдет себе занятие по душе в любое время года. Зимой это рыбалка, катание на лыжах, санках, снегоходах. Летом – купание, рыбалка, катание на катерах, гидроциклах, лодках, а также любые всевозможные виды активного и пассивного отдыха на воде, до которой не нужно ехать на транспорте, а достаточно прогуляться 5 минут.</p>
                  </article>
                </div>
                <div>Материал будет позже</div>
                <div>Материал будет позже</div>
              </div>
            </div>


      </div>
    </div>
  </section>
  <div class="gradnt"></div>
  <section id="map-2">
    <div class="bgtop"></div>
    <div class="container">
      <div class="col-md-6">
        <div class="cnt">
          <h3>Поселок Ваньково</h3>
          <div class="rdm">
            <span class="icon-fa-info"></span>
            <span class="region">Минское шоссе, 95км до МКАД</span>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div id="informer">
          <p class="informer"><span class="red ico-li icon-fa-home"></span>25/28 участков заселено</p>
          <div class="informer-detail">
            <ul>
              <li><span class="sqr"></span>Свободный участок</li>
              <li><span class="sqr"></span>Занятый участок</li>
              <li><span class="sqr"></span>Зарезервированный участок</li>
              <li><span class="sqr"></span>Участок с домом</li>
              <li><span class="sqr"></span>Спецпредложение</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="accord">
          <?php require 'app/accordion.php'; ?>
        </div>
      </div>
      <div class="col-md-9"></div>
    </div>
    <div id="bgmap2"></div>
  </section>

<?php require ('app/featured.php'); ?>
<?php require ('app/footer.php'); ?>
<?php require ('app/script.php'); ?>

