<?php require('app/head.php'); ?>
<div id="tree">
  <section id="menu-0">
    <nav class="navbar navbar-dropdown navbar-fixed-top">

      <?php $punkt = "ind3"; require_once('app/nav.php'); ?>

      <div id="menu-1" class="block-absolute">
        <div class="bg-color white-90 mbr-table-cell"></div>
        <div class="container">
          <div class="row">
            <div class="mbr-table">
              <div class="col-lg-3 col-md-4 col-sm-9">
                <div class="block-h white-100 mbr-table-cell">
                  <div class="mbr-table-cell">
                    <div class="navbar-brand">
                      <a href="/" class="navbar-logo"><img src="images/logo.svg" alt="Добродача"></a>
                    </div>
                  </div>

                  <?php require('app/menu-left-3.php'); ?>

                </div>
                <div class="mask mbr-table-cell"></div>
              </div>

              <?php require('app/slogan.php'); ?>

            </div>
          </div>
        </div>
      </div>
    </nav>
  </section>

  <section id="hero" class="tree">
    <div class="bg-img"></div>
  </section>
  <section id="vantges">
    <div class="circle"></div>
  </section>

  <section id="catalog">
    <div class="bg-white">
      <div class="container">
        <h3 class="vertic">Проекты домов</h3>
        <p class="lines">Строим «под ключ» на вашем частке и поселках «Добродача»</p>
      </div>
    </div>
    <div class="catalog">
      <div class="container">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="ctl">
            <div class="name-ctl">
              <p><big>"Дача"</big> — 9x6 м | 108 м<sup>
                  <small>2</small>
                </sup></p>
            </div>
            <div class="ctrl-iip">
              <div class="img-bgr">
                <div class="img-ctl">
                  <img src="images/catalog/img-01.jpg" alt="">
                </div>
              </div>
              <div class="ctl-info">
                <div class="info-price">
                  <span><small>базовая стоимость</small></span>
                  <p class="price">1 250 000 руб.</p>
                  <span><small>проект под ключ</small></span>
                </div>
                <div class="information">
                  <ul>
                    <li>
                      <span class="ico-li icon-fa-home"></span>
                      <mob>Выделенная линия</mob>
                    </li>
                    <li>
                      <span class="ico-li icon-fa-home"></span>
                      <mob>Выделенная линия</mob>
                    </li>
                    <li>
                      <span class="ico-li icon-fa-home"></span>
                      <mob>Одна спальня</mob>
                    </li>
                    <li>
                      <span class="ico-li icon-fa-home"></span>
                      <mob>Простая гостевая комната</mob>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="ctl-txt"><p>Уютный дом, ухоженный и чистый, много грибов и ягод круглый год и без крупных
                зверей. второй этаж щитовой утепленный, отделка "евровагонка" веранда щитовая утепленная размером
                2,5х9м.</p>
              <p>Для ценителей БИО и ЭКО образа жизни важным будет то, что почва дает прекрасные урожаи и вы можете
                вырастить все свое и натуральное.</p></div>
            <div class="ctl-btm"><a href="" class="buttons">Посмотреть детали
                <symb>〉</symb>
              </a></div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="ctl">
            <div class="name-ctl">
              <p><big>"Дача"</big> — 9x6 м | 108 м<sup>
                  <small>2</small>
                </sup></p>
            </div>
            <div class="ctrl-iip">
              <div class="img-bgr">
                <div class="img-ctl">
                  <img src="images/catalog/img-02.jpg" alt="">
                </div>
              </div>
              <div class="ctl-info">
                <div class="info-price">
                  <span><small>базовая стоимость</small></span>
                  <p class="price">1 250 000 руб.</p>
                  <span><small>проект под ключ</small></span>
                </div>
                <div class="information">
                  <ul>
                    <li>
                      <span class="ico-li icon-fa-home"></span>
                      <mob>Выделенная линия</mob>
                    </li>
                    <li>
                      <span class="ico-li icon-fa-home"></span>
                      <mob>Выделенная линия</mob>
                    </li>
                    <li>
                      <span class="ico-li icon-fa-home"></span>
                      <mob>Одна спальня</mob>
                    </li>
                    <li>
                      <span class="ico-li icon-fa-home"></span>
                      <mob>Простая гостевая комната</mob>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="ctl-txt"><p>Уютный дом, ухоженный и чистый, много грибов и ягод круглый год и без крупных
                зверей. второй этаж щитовой утепленный, отделка "евровагонка" веранда щитовая утепленная размером
                2,5х9м.</p>
              <p>Для ценителей БИО и ЭКО образа жизни важным будет то, что почва дает прекрасные урожаи и вы можете
                вырастить все свое и натуральное.</p></div>
            <div class="ctl-btm"><a href="" class="buttons">Посмотреть детали
                <symb>〉</symb>
              </a></div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="ctl">
            <div class="name-ctl">
              <p><big>"Дача"</big> — 9x6 м | 108 м<sup>
                  <small>2</small>
                </sup></p>
            </div>
            <div class="ctrl-iip">
              <div class="img-bgr">
                <div class="img-ctl">
                  <img src="images/catalog/img-01.jpg" alt="">
                </div>
              </div>
              <div class="ctl-info">
                <div class="info-price">
                  <span><small>базовая стоимость</small></span>
                  <p class="price">1 250 000 руб.</p>
                  <span><small>проект под ключ</small></span>
                </div>
                <div class="information">
                  <ul>
                    <li>
                      <span class="ico-li icon-fa-home"></span>
                      <mob>Выделенная линия</mob>
                    </li>
                    <li>
                      <span class="ico-li icon-fa-home"></span>
                      <mob>Выделенная линия</mob>
                    </li>
                    <li>
                      <span class="ico-li icon-fa-home"></span>
                      <mob>Одна спальня</mob>
                    </li>
                    <li>
                      <span class="ico-li icon-fa-home"></span>
                      <mob>Простая гостевая комната</mob>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="ctl-txt"><p>Уютный дом, ухоженный и чистый, много грибов и ягод круглый год и без крупных
                зверей. второй этаж щитовой утепленный, отделка "евровагонка" веранда щитовая утепленная размером
                2,5х9м.</p>
              <p>Для ценителей БИО и ЭКО образа жизни важным будет то, что почва дает прекрасные урожаи и вы можете
                вырастить все свое и натуральное.</p></div>
            <div class="ctl-btm"><a href="" class="buttons">Посмотреть детали
                <symb>〉</symb>
              </a></div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="ctl">
            <div class="name-ctl">
              <p><big>"Дача"</big> — 9x6 м | 108 м<sup>
                  <small>2</small>
                </sup></p>
            </div>
            <div class="ctrl-iip">
              <div class="img-bgr">
                <div class="img-ctl">
                  <img src="images/catalog/img-02.jpg" alt="">
                </div>
              </div>
              <div class="ctl-info">
                <div class="info-price">
                  <span><small>базовая стоимость</small></span>
                  <p class="price">1 250 000 руб.</p>
                  <span><small>проект под ключ</small></span>
                </div>
                <div class="information">
                  <ul>
                    <li>
                      <span class="ico-li icon-fa-home"></span>
                      <mob>Выделенная линия</mob>
                    </li>
                    <li>
                      <span class="ico-li icon-fa-home"></span>
                      <mob>Выделенная линия</mob>
                    </li>
                    <li>
                      <span class="ico-li icon-fa-home"></span>
                      <mob>Одна спальня</mob>
                    </li>
                    <li>
                      <span class="ico-li icon-fa-home"></span>
                      <mob>Простая гостевая комната</mob>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="ctl-txt"><p>Уютный дом, ухоженный и чистый, много грибов и ягод круглый год и без крупных
                зверей. второй этаж щитовой утепленный, отделка "евровагонка" веранда щитовая утепленная размером
                2,5х9м.</p>
              <p>Для ценителей БИО и ЭКО образа жизни важным будет то, что почва дает прекрасные урожаи и вы можете
                вырастить все свое и натуральное.</p></div>
            <div class="ctl-btm"><a href="" class="buttons">Посмотреть детали
                <symb>〉</symb>
              </a></div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<?php require('app/featured.php'); ?>
<?php require('app/footer.php'); ?>
<?php require('app/script.php'); ?>