        <div id="acc">
            <div class="informer">
              <div class="infrm">
                <h3 class="bold"><span class="sqr"></span>Участок №21</h3>
                <span class="green">10 соток</span>
                <p class="price-info">цена выбранного участка</p>
                <p class="prc big red">2 300 000 руб.</p>
              </div>
            </div>
            <p class="context">Выберите дом на свой участок</p>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingOne">
                    <div class="panel-title">
                      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <div class="info-homes">
                          <span class="ico-homes icon-fa-home"></span>
                          <p class="name-homes">"Дача" 95м<sup><small>2</small></sup></p>
                          <p class="prc">1 950 000 руб.</p>
                        </div>
                        <span class="ico-disable icon-fa-geometry"></span>
                      </a>
                    </div>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                      <p><small>Информация будет немного позже</small></p>
                    </div>
                  </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <div class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <div class="info-homes">
                              <span class="ico-homes icon-fa-home"></span>
                              <p class="name-homes">"Дача" 95м<sup><small>2</small></sup></p>
                              <p class="prc">1 950 000 руб.</p>
                            </div>
                            <span class="ico-disable icon-fa-geometry"></span>
                            </a>
                        </div>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                      <div class="panel-body">
                        ====
                      </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <div class="panel-title">
                              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <div class="info-homes">
                              <span class="ico-homes icon-fa-home"></span>
                              <p class="name-homes">"Дача" 95м<sup><small>2</small></sup></p>
                              <p class="prc">1 950 000 руб.</p>
                            </div>
                            <span class="ico-disable icon-fa-geometry"></span>
                            </a>
                        </div>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                      <div class="panel-body">
                        ====
                      </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading4">
                        <div class="panel-title">
                              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                            <div class="info-homes">
                              <span class="ico-homes icon-fa-home"></span>
                              <p class="name-homes">"Дача" 95м<sup><small>2</small></sup></p>
                              <p class="prc">1 950 000 руб.</p>
                            </div>
                            <span class="ico-disable icon-fa-geometry"></span>
                            </a>
                        </div>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
                      <div class="panel-body">
                        ====
                      </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading4">
                        <div class="panel-title">
                              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                            <div class="info-homes">
                              <span class="ico-homes icon-fa-home"></span>
                              <p class="name-homes">"Дача" 95м<sup><small>2</small></sup></p>
                              <p class="prc">1 950 000 руб.</p>
                            </div>
                            <span class="ico-disable icon-fa-geometry"></span>
                            </a>
                        </div>
                    </div>
                    <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
                      <div class="panel-body">
                        ====
                      </div>
                    </div>
                </div>

            </div>
            <div class="acc-subcr"><a href="" class="buttons subcr">Записаться на просмотр</a></div>
        </div>
