<section id="banner" style="background-image: url(../assets/images/bg.jpg);">
  <div class="wrapper">
    <div id="cn-slideshow" class="cn-slideshow">
      <div class="cn-images">
        <img src="assets/images/banner/large/1.jpg" alt="image01" title="<b>ЛУЧШЕЕ МЕСТО</b> <span>для побега от городской суеты <b>ЖИЗНЬ В УДОВОЛЬСТВИЕ</b> в собственном доме</span>" data-thumb="assets/images/banner/thumbs/1.jpg" style="display:block;"/>
        <img src="assets/images/banner/large/2.jpg" alt="image02" title="<b>ЛЮБИТЕ ПРИРОДУ?</b> <span>В окружении пророды, низкая стоимость и близко к Москве</span>" data-thumb="assets/images/banner/thumbs/2.jpg"/>
        <img src="assets/images/banner/large/3.jpg" alt="image03" title="<b>ЗИМНИЕ СКИДКИ.</b> <span>Проведите зиму с любимыми в наших теплых, уютных домах</span>" data-thumb="assets/images/banner/thumbs/3.jpg"/>
      </div><!-- cn-images -->
    </div><!-- cn-slideshow -->
  </div>
</section>
