<footer>
  <section id="subscribe">
    <div class="container">
      <h3 class="center">Запишитесь на бесплатный просмотр</h3>
      <form action="#">
        <div class="col-md-8">
          <input type="name" placeholder="Ваше имя">
          <input type="tel" placeholder="Ваш телефон">
        </div>
        <div class=" col-md-4">
          <a href="" class="buttons subcr">Записаться</a>
          <small class="center">Мы перезвоним вам в течении 24 часов</small>
        </div>
      </form>
    </div>
  </section>
  <section id="menu-bottom">
    <div class="container">
      <div class="navfoot">
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
          <h4 class="nav-f fly"><a href="#" class="read">О компании</a></h4>
          <ul>
            <li><a href="#">Как мы работаем</a></li>
            <li><a href="#">Процесс строительства</a></li>
            <li><a href="#">Гарантии качества</a></li>
            <li><a href="#">Процесс покупки</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
          <h4 class="nav-f fly"><a href="#" class="read">Поселки Добродача</a></h4>
          <ul>
            <li><a href="/index2.php">«Новгородово» — <small>Минское&nbsp;ш.</small></a></li>
            <li><a href="/index2.php">«Мечта»— <small>Минское&nbsp;ш.</small></a></li>
            <li><a href="/index2.php">«Ясная поляна» — <small>Минское&nbsp;ш.</small></a></li>
            <li><a href="/index2.php">«Бобров ручей» — <small>Минское&nbsp;ш.</small></a></li>
            <li><a href="/index2.php">«Цветочная поляна» — <small>Минское&nbsp;ш.</small></a></li>
            <li><a href="/index2.php">«Ваньково» — <small>Минское&nbsp;ш.</small></a></li>
            <li><a href="/index2.php">«Блазново» — <small>Минское&nbsp;ш.</small></a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
          <h4 class="nav-f fly"><a href="#" class="read">Проекты домов</a></h4>
          <ul>
            <li><a href="/index3.php">«Дача» 108 м<sup><small>2</small></sup></small></a></li>
            <li><a href="/index3.php">«Мой дом» 112 м<sup><small>2</small></sup></small></a></li>
            <li><a href="/index3.php">«Добродача» 135 м<sup><small>2</small></sup></small></a></li>
            <li><a href="/index3.php">«Добродача модерн» 135 м<sup><small>2</small></sup></small></a></li>
            <li><a href="/index3.php">«Витязь» 162 м<sup><small>2</small></sup></small></a></li>
            <li><a href="/index3.php">«Усадьба» 162 м<sup><small>2</small></sup></small></a></li>
            <li><a href="/index3.php">«Поместье» 207 м<sup><small>2</small></sup></small></a></li>
            <li><a href="#">Бани и беседки</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
          <h4 class="nav-f fly"><a href="#" class="read">Полезная информация</a></h4>
          <ul>
            <li><a href="#">Сроки строительства</a></li>
            <li><a href="#">Стоимсоть</a></li>
            <li><a href="#">Отзывы жителей</a></li>
            <li><a href="#">Скидки и рассрочка</a></li>
            <li><a href="#">Ипотека</a></li>
            <li><a href="#">Юридические документы</a></li>
            <li><a href="#">Частые вопросы</a></li>
            <li><a href="#">Без первого взноса?</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section id="contacts">
    <div class="container">
      <div class="col-lg-6 col-md-6">
        <div class="logo-foot">
          <object id="logo-foot" type="image/svg+xml" data="assets/images/logo.svg"></object>
          <p class="text-foot">Участок и дом с коммуникациями по доступной цене недалеко от Москвы</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <ul class="foot-cont">
          <li><span class="conts icon-fa-phone"></span>+7 (495) 789 7012 </li>
          <li><span class="conts icon-fa-phone"></span>+7 (495) 789 7013 </li>
          <li><span class="conts icon-fa-mail"></span><a href="mailto:info@dobrodacha.ru">info@dobrodacha.ru</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-12">
        <p class="marg-left"><span class="conts icon-fa-local"></span>г. Москва, Б. Семеновская, д. 40, БЦ «Агат»</p>
      </div>
    </div>
  </section>
  <section id="copywriter">
    <div class="container">
      <div class="col-md-6">
                        <span>© 2005-2016 «Добродача» Все права защищены.<br> Предложения на сайте не являются публичной офертой.
                        </span>
      </div>
      <div class="col-md-6">
        <p id="logo-company">
          Created by <a href="#" class="svg" target="_blank"><object class="logo-company" type="image/svg+xml" data="assets/images/logo-cpn.svg"></object></a>
        </p>
      </div>
    </div>
  </section>
</footer>
