<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" href="assets/images/logo.svg" type="image/x-icon">
		<link rel="icon" type="image/png" href="favicon.png" />
		<link rel="apple-touch-icon-precomposed" href="apple-touch-favicon.png"/>
		<meta name="description" content="">
		<link rel="stylesheet" href="assets/styles/app.min.css">
		<noscript>
		<style>
		.cn-images img { position: relative; display: block; border-bottom: 5px solid #d0ab47; }
		.cn-slideshow { height: auto; }
		</style>
		</noscript>
