<nav class="menu-left navbar-brand">
  <ul id="menu-left">
    <li class="nav-item">
      <a class="nav-link link" href="/">"Дача"</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link" href="#">"Мой дом"</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link" href="#">"Добродача классик"</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link" href="#">"Добродача модерн"</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link" href="#">"Витязь"</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link" href="#">"Усадьба"</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link" href="#">"Поместье"</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link green-line" href="#">Бани и беседки <symb>&gt;</symb></a>
    </li>
  </ul>
</nav>
