<div class="container">
  <div class="mbr-table">
    <div class="mbr-table-cell">
      <button class="navbar-toggler pull-xs-right hidden-md-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
        <div class="hamburger-icon"></div>
      </button>
      <ul class="nav-dropdown collapse nav navbar-nav navbar-toggleable-sm" id="exCollapsingNavbar">
        <li class="nav-item dropdown">
          <a class="nav-link link dropdown-toggle" data-toggle="dropdown-submenu" href="#"
             aria-expanded="false">О компании</a>

            <div class="dropdown-menu one-level">
              <a class="nav-dropdown-sm" href="#">О компании <symb>&gt;</symb></a>

                <a class="dropdown-item" href="#">Почему Добродача?</a>
                <a class="dropdown-item" href="#">Качество</a>
                <a class="dropdown-item" href="#">Процесс строительства</a>
                <a class="dropdown-item" href="#">Строительство на вашем участке</a>
              <a class="nav-dropdown-sm" href="#">Публикации <symb>&gt;</symb></a>
            </div>

        </li>
        <li class="nav-item">
          <a class="nav-link link" href="#" aria-expanded="false">Новости <mob>и акции</mob></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link link dropdown-toggle" data-toggle="dropdown-submenu" href="#"
             aria-expanded="false">Посёлки <mob>Добродача</mob></a>

          <div class="dropdown-menu one-level">
            <a href="#" class="buttons">Все поселки <symb>&gt;</symb></a>
            <a class="dropdown-item" href="/index2.php">«Новгородово» — <small>Минское шоссе</small></a>
            <a class="dropdown-item" href="/index2.php">«Мечта»— <small>Минское шоссе</small></a>
            <a class="dropdown-item" href="/index2.php">«Ясная поляна» — <small>Минское шоссе</small></a>
            <a class="dropdown-item" href="/index2.php">«Бобров ручей» — <small>Минское шоссе</small></a>
            <a class="dropdown-item" href="/index2.php">«Цветочная поляна» — <small>Минское шоссе</small></a>
            <a class="dropdown-item" href="/index2.php">«Ваньково» — <small>Минское шоссе</small></a>
            <a class="dropdown-item" href="/index2.php">«Блазново» — <small>Минское шоссе</small></a>
          </div>

        </li>
        <li class="nav-item dropdown">
          <a class="nav-link link dropdown-toggle" data-toggle="dropdown-submenu" href="#"
             aria-expanded="false">Проекты <mob>домов</mob></a>

          <div class="dropdown-menu one-level">
            <a href="#" class="buttons">Все проекты <symb>&gt;</symb></a>
            <a class="dropdown-item" href="/index3.php">«Дача» 108 м<sup><small>2</small></sup></small></a>
            <a class="dropdown-item" href="/index3.php">«Мой дом» 112 м<sup><small>2</small></sup></small></a>
            <a class="dropdown-item" href="/index3.php">«Добродача» 135 м<sup><small>2</small></sup></small></a>
            <a class="dropdown-item" href="/index3.php">«Добродача модерн» 135 м<sup><small>2</small></sup></small></a>
            <a class="dropdown-item" href="/index3.php">«Витязь» 162 м<sup><small>2</small></sup></small></a>
            <a class="dropdown-item" href="/index3.php">«Усадьба» 162 м<sup><small>2</small></sup></small></a>
            <a class="dropdown-item" href="/index3.php">«Поместье» 207 м<sup><small>2</small></sup></small></a>
            <a class="nav-dropdown-sm" href="#">Бани и беседки<symb>&gt;</symb></a>
          </div>

        </li>

        <li class="nav-item dropdown">
          <a class="nav-link link dropdown-toggle" data-toggle="dropdown-submenu" href="#"
             aria-expanded="false">Информация <mob>для покупателей</mob></a>

          <div class="dropdown-menu one-level">
            <a class="nav-dropdown-sm" href="#">Акции <symb>&gt;</symb></a>
            <a class="nav-dropdown-sm" href="#">Условия покупки <symb>&gt;</symb></a>
            <a class="dropdown-item" href="#">Процесс покупки</a>
            <a class="dropdown-item" href="#">Скидки и рассрочка</a>
            <a class="dropdown-item" href="#">Без первого взноса?</a>
            <a class="dropdown-item" href="#">Ипотека</a>
            <a class="nav-dropdown-sm" href="#">Юридические документы <symb>&gt;</symb></a>
            <a class="nav-dropdown-sm" href="#">Частые вопросы <symb>&gt;</symb></a>
            <a class="nav-dropdown-sm" href="#">Информация для покупателей <symb>&gt;</symb></a>
          </div>

        </li>

        <li class="nav-item">
          <a class="nav-link link" href="#" aria-expanded="false">Отзывы</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link" href="#" aria-expanded="false">Контакты</a>
        </li>
      </ul>
      <button hidden="" class="navbar-toggler navbar-close" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
        <div class="close-icon"></div>
      </button>
    </div>
  </div>
</div>
