<section id="menu-0">
  <nav class="navbar navbar-dropdown navbar-fixed-top">
    //= navigation.html
    <div id="menu-1" class="block-absolute">
      <div class="bg-color white-90 mbr-table-cell"></div>
      <div class="container">
        <div class="row">
          <div class="mbr-table">
            <div class="col-lg-3 col-md-4 col-sm-9">
              <div class="block-h white-100 mbr-table-cell">
                <div class="mbr-table-cell">
                  <div class="navbar-brand">
                    <a href="/" class="navbar-logo"><img src="assets/images/logo.svg" alt="Добродача"></a>
                  </div>
                </div>
                //= menu-left-1.html
              </div>
              <div class="mask mbr-table-cell"></div>
            </div>
            //= slogan.html
          </div>
        </div>
      </div>
    </div>
  </nav>
</section>
