<section id="featured">
  <div class="container">
    <h3 class="lines fly"><a href="#">Специальные предложения на готовые дома</a></h3>
    <p class="lines">Дома высокого качества ждут своего хозяина. Выбирайте подходящий дом и <a href="#">бронируйте просмотр</a>!</p>
    <div class="owl-carousel owl-theme">
      <div class="item">
        <div class="box-product">
          <div class="box-price">
            <div class="price">
              <span class="truth">2 500 000 руб</span>
              <span class="old">Раньше 2 800 000 руб</span>
            </div>
            <div class="prdt-img"><img src="assets/images/carusel/img-01.jpg" alt=""></div>
            <div class="prdt-square">
              <div class="square">
                <span class="ico-li icon-fa-home"></span>
                <span>105 м<sup><small>2</small></sup></span>
              </div>
              <div class="square">
                <span class="ico-li icon-fa-plan"></span>
                <span>10 соток</span>
              </div>
            </div>
          </div>
          <div class="box-sps">
            <span class="icon-fa-info"></span>
            <span class="txt">Можаское шоссе</span>
          </div>
          <div class="box-area">
            <p>Вместительный дом с большой верандой для летних завтраков на свежем воздухе.</p>
            <div class="but">
              <a class="read right" href="#">Посмотреть детали <figure></figure></a>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="box-product">
          <div class="box-price">
            <div class="price">
              <span class="truth">2 500 000 руб</span>
              <span class="old">Раньше 2 800 000 руб</span>
            </div>
            <div class="prdt-img"><img src="assets/images/carusel/img-02.jpg" alt=""></div>
            <div class="prdt-square">
              <div class="square">
                <span class="ico-li icon-fa-home"></span>
                <span>105 м<sup><small>2</small></sup></span>
              </div>
              <div class="square">
                <span class="ico-li icon-fa-plan"></span>
                <span>10 соток</span>
              </div>
            </div>
          </div>
          <div class="box-sps">
            <span class="icon-fa-info"></span>
            <span class="txt">Можаское шоссе</span>
          </div>
          <div class="box-area">
            <p>Вместительный дом с большой верандой для летних завтраков на свежем воздухе.</p>
            <div class="but">
              <a class="read right" href="#">Посмотреть детали <figure></figure></a>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="box-product">
          <div class="box-price">
            <div class="price">
              <span class="truth">2 500 000 руб</span>
              <span class="old">Раньше 2 800 000 руб</span>
            </div>
            <div class="prdt-img"><img src="assets/images/carusel/img-02.jpg" alt=""></div>
            <div class="prdt-square">
              <div class="square">
                <span class="ico-li icon-fa-home"></span>
                <span>105 м<sup><small>2</small></sup></span>
              </div>
              <div class="square">
                <span class="ico-li icon-fa-plan"></span>
                <span>10 соток</span>
              </div>
            </div>
          </div>
          <div class="box-sps">
            <span class="icon-fa-info"></span>
            <span class="txt">Можаское шоссе</span>
          </div>
          <div class="box-area">
            <p>Вместительный дом с большой верандой для летних завтраков на свежем воздухе.</p>
            <div class="but">
              <a class="read right" href="#">Посмотреть детали <figure></figure></a>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="box-product">
          <div class="box-price">
            <div class="price">
              <span class="truth">2 500 000 руб</span>
              <span class="old">Раньше 2 800 000 руб</span>
            </div>
            <div class="prdt-img"><img src="assets/images/carusel/img-02.jpg" alt=""></div>
            <div class="prdt-square">
              <div class="square">
                <span class="ico-li icon-fa-home"></span>
                <span>105 м<sup><small>2</small></sup></span>
              </div>
              <div class="square">
                <span class="ico-li icon-fa-plan"></span>
                <span>10 соток</span>
              </div>
            </div>
          </div>
          <div class="box-sps">
            <span class="icon-fa-info"></span>
            <span class="txt">Можаское шоссе</span>
          </div>
          <div class="box-area">
            <p>Вместительный дом с большой верандой для летних завтраков на свежем воздухе.</p>
            <div class="but">
              <a class="read right" href="#">Посмотреть детали <figure></figure></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
