<section id="reviews">
  <div class="container">
    <div class="col-lg-6 box-1">
      <div class="about">
        <h3 class="fly"><a href="#">Почему Добродача?</a></h3>
        <p>Здесь мы пишем об общей концепции поселков, о соседях, говорящих на одной языке.<br>Концепция строительства и ценности и тд.<br>Прямые поставки стройматериалов и собственная бригада позволяет предлагать гибкие условия нашим клиентам.<br>Компания Добродача успешно выступает на рынке загородной недвижимости уже более 10 лет. Основная сфера деятельности компании – строительство и продажа деревянных домов в Подмосковье. За годы нашей плодотворной работы множество наших клиентов высоко оценили качество компании Добродача.
        </p>
        <a class="read" href="#">Наша миссия <figure></figure></a>
      </div>
      <div class="proc">
        <h3 class="fly"><a href="#">Процесс строительства</a></h3>
        <div id="ico">
          <div class="arrow"><figure class="yellow"></figure></div>
          <div class="ico">
            <span class="iconki icon-fa-read"></span>
            <p><small>Подписываем документы</small></p>
          </div>
          <div class="ico">
            <span class="iconki icon-fa-circle"></span>
            <p><small>Получаем строительные материалы</small></p>
          </div>
          <div class="ico">
            <span class="iconki icon-fa-homes"></span>
            <p><small>Строим дом от 2 до 3 месяцев</small></p>
          </div>
          <div class="ico">
            <span class="iconki icon-fa-tv"></span>
            <p><small>Вы перевозите вещи, телевизор и тапочки</small></p>
          </div>
          <div class="ico">
            <span class="iconki icon-fa-home-smile"></span>
            <p><small>Вы перевозите вещи, телевизор и тапочки</small></p>
          </div>
        </div>
        <a href="" class="buttons"><mob>Гарантии качества и </mob>условия покупки <symb>&gt;</symb></a>
      </div>
    </div>
    <div class="col-lg-6 box-1">
      <h3 class="fly"><a href="#">Отзывы жителей наших поселков</a></h3>
      <div class="reviews">
        <div class="col-sm-12 box">
          <div class="col-sm-4">
            <div class="base">
              <img src="assets/images/user/user-demo1.jpg" alt="">
              <a class="read" href="#">Видео отзыв</a>
            </div>
          </div>
          <div class="col-sm-8">
            <h4>Мария Шарапова</h4>
            <span><small>Ясная поляна</small></span>
            <p class="desc">
              «Добродача» — это здорово! Не думайте, что за низкую цену вы не можете получить дом вашей мечты! С «Добродачей» вы можете всё! Они доказали — качество может быть дешевым!
            </p>
          </div>
        </div>
        <div class="col-sm-12 box">
          <div class="col-sm-4">
            <div class="base">
              <img src="assets/images/user/user-demo2.jpg" alt="">
              <a class="read" href="#">Видео отзыв</a>
            </div>
          </div>
          <div class="col-sm-8">
            <h4>Анна Курникова</h4>
            <span><small>Бобров ручей</small></span>
            <p class="desc">
              С «Добродачей» я почувствовала себя в безопасности сразу же. Не пришлось беспокоиться во время процесса — всё понятно и доступно. Я могу пригласить всю семью в наш новый дом в течение зимы, так что мы можем проводить время все вместе.
            </p>
          </div>
        </div>
        <div class="but">
          <a class="read right" href="#">Читайте все отзывы <mob>жителей поселков "Добродача" </mob><figure></figure></a>
        </div>
      </div>
    </div>
  </div>
</section>
