<section id="vantges">
  <div class="container">
    <div class="mbr-cards-col col-md-3 col-sm-6 col-xs-12">
      <div id="ico-06" class="vantges">
        <span class="icon-fa-home"></span>
        <span class="icon-fa-wood"></span>
      </div>
      <p class="fly">Экологичные поселки рядом с Москвой: вдали от производств и загрязненных трасс</p>
    </div>
    <div class="mbr-cards-col col-md-3 col-sm-6 col-xs-12">
      <div id="ico-08" class="vantges">
        <span class="icon-fa-arms"></span>
      </div>
      <p class="fly">Гарантии качества и надежности: проверенные технологии стройки и собственная бригада</p>
    </div>
    <div class="mbr-cards-col col-md-3 col-sm-6 col-xs-12">
      <div id="ico-09" class="vantges">
        <span class="icon-fa-lightning"></span>
        <span class="icon-fa-crane"></span>
      </div>
      <p class="fly">Все необходимые для комфортной жизни коммуникации в каждом доме</p>
    </div>
    <div class="mbr-cards-col col-md-3 col-sm-6 col-xs-12">
      <div id="ico-11" class="vantges">
        <span class="icon-fa-home"></span>
        <span class="icon-fa-ruble"></span>
      </div>
      <p class="fly">Участок и дом с коммуникациями за небольшой бюджет. Гибкие условия работы с каждым клиентом.</p>
    </div>
  </div>
  <div class="circle"></div>
</section>
