<div class="col-lg-6 col-md-4 col-sm-1">
  <p class="top-text text mbr-table-cell">Более 10 лет мы строим удобные и прочные дома недалеко от Москвы.<br>Всего от 1 600 000 рублей за участок и дом с коммуникациями.</p>
</div>
<div class="col-lg-3 col-md-4 col-sm-2">
  <div id="top-phone" class="mbr-table-cell">
    <a class="telem" href="tel:+74597897012">
      <span class="icon-fa-phone"></span>
    </a>
    <ul>
      <li>+7 (459) 789 7012</li>
      <li>+7 (459) 789 7013</li>
      <li><a class="call-us" href="#">Обратный звонок</a></li>
    </ul>
  </div>
</div>