/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?91300883#fontello') format('svg');
  }
}
*/

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
    /* For safety - reset parent styles, that can break glyph codes*/

    font-variant: normal;
    text-transform: none;
    /* fix buttons height, for twitter bootstrap */

    line-height: 1em;
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */

    margin-left: .2em;
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
    /* Font smoothing. That was taken from TWBS */

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.icon-fa-wood:before {
    content: '\e800';
}
/* '' */

.icon-fa-lightning:before {
    content: '\e801';
}
/* '' */

.icon-fa-crane:before {
    content: '\e802';
}
/* '' */

.icon-fa-arms:before {
    content: '\e803';
}
/* '' */

.icon-fa-info:before {
    content: '\e804';
}
/* '' */

.icon-fa-circle:before {
    content: '\e805';
}
/* '' */

.icon-fa-homes:before {
    content: '\e806';
}
/* '' */

.icon-fa-home:before {
    content: '\e807';
}
/* '' */

.icon-fa-home-book:before {
    content: '\e808';
}
/* '' */

.icon-fa-tv:before {
    content: '\e809';
}
/* '' */

.icon-fa-poezd:before {
    content: '\e80a';
}
/* '' */

.icon-fa-phone:before {
    content: '\e80b';
}
/* '' */

.icon-fa-geometry:before {
    content: '\e80c';
}
/* '' */

.icon-fa-ruble:before {
    content: '\e80d';
}
/* '' */

.icon-fa-plan:before {
    content: '\e80e';
}
/* '' */

.icon-fa-read:before {
    content: '\e80f';
}
/* '' */

.icon-fa-home-smile:before {
    content: '\e810';
}
/* '' */

.icon-fa-mail:before {
    content: '\e811';
}
/* '' */

.icon-fa-local:before {
    content: '\e812';
}
/* '' */

.icon-fa-cart:before {
    content: '\e813';
}
/* '' */

.icon-fa-museum:before {
    content: '\e814';
}
/* '' */

.icon-fa-ship:before {
    content: '\e815';
}
/* '' */

.icon-fa-sheet:before {
    content: '\e816';
}
/* '' */

.icon-fa-lamp:before {
    content: '\e817';
}
/* '' */

.icon-fa-zoom-minus:before {
    content: '\e818';
}
/* '' */

.icon-fa-zoom-plus:before {
    content: '\e819';
}
/* '' */


.icon-fa-accent
    color $primary-color

.icon-fa-md
    font-size 24px
    width 24px
    height 24px
    line-height 24px
