.typo-h1 a
.typo-h2 a
.typo-h3 a
.typo-h4 a
.typo-h5 a
	color #282828
	text-decoration none

.typo-h1
	typo-h1()

.typo-h2
	typo-h2()

.typo-h3
	typo-h3()

.typo-h4
	typo-h4()

.typo-h5
	typo-h5()

.typo-content
.typo-intro
	typo-body()

	p
		margin 0 0 21px 0


	ul
	ol
		margin 0 0 21px 0

	li
		margin 10px 0

	dl
		margin 0 0 21px 0

	dt
		margin 0 0 10px 0

	dd
		margin 0 0 21px 0

.typo-img
	border 1px solid #dee8ad
	padding 9px
	background-color #fff
	display inline-block
	vertical-align top
	margin-bottom 21px

	img
		vertical-align top
		max-width 100%
		height auto

.typo-next-link
a.typo-next-link
	font-family $font-base
	font-size 16px
	font-weight 300
	text-decoration none
	color #4e4d4d
	border-bottom 2px solid $primary-color
	position relative

	&:hover
		color #4e4d4d
		border-color $primary-color

	&:after
		content ""
		position absolute
		margin-left 10px
		height 0
		width 0
		border-color transparent
		border-left-color #b11e4c
		border-width 7px
		border-style solid
		margin-top 3px

.typo-link
a.typo-link
	color #2a282a
	text-decoration none
	border-bottom 2px solid $primary-color

