[data-icon]:before {
  font-family: "socicon" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="socicon-"]:before,
[class*=" socicon-"]:before {
  font-family: "socicon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.socicon-modelmayhem:before {
  content: "\e000";
}
.socicon-mixcloud:before {
  content: "\e001";
}
.socicon-drupal:before {
  content: "\e002";
}
.socicon-swarm:before {
  content: "\e003";
}
.socicon-istock:before {
  content: "\e004";
}
.socicon-yammer:before {
  content: "\e005";
}
.socicon-ello:before {
  content: "\e006";
}
.socicon-stackoverflow:before {
  content: "\e007";
}
.socicon-persona:before {
  content: "\e008";
}
.socicon-triplej:before {
  content: "\e009";
}
.socicon-houzz:before {
  content: "\e00a";
}
.socicon-rss:before {
  content: "\e00b";
}
.socicon-paypal:before {
  content: "\e00c";
}
.socicon-odnoklassniki:before {
  content: "\e00d";
}
.socicon-airbnb:before {
  content: "\e00e";
}
.socicon-periscope:before {
  content: "\e00f";
}
.socicon-outlook:before {
  content: "\e010";
}
.socicon-coderwall:before {
  content: "\e011";
}
.socicon-tripadvisor:before {
  content: "\e012";
}
.socicon-appnet:before {
  content: "\e013";
}
.socicon-goodreads:before {
  content: "\e014";
}
.socicon-tripit:before {
  content: "\e015";
}
.socicon-lanyrd:before {
  content: "\e016";
}
.socicon-slideshare:before {
  content: "\e017";
}
.socicon-buffer:before {
  content: "\e018";
}
.socicon-disqus:before {
  content: "\e019";
}
.socicon-vkontakte:before {
  content: "\e01a";
}
.socicon-whatsapp:before {
  content: "\e01b";
}
.socicon-patreon:before {
  content: "\e01c";
}
.socicon-storehouse:before {
  content: "\e01d";
}
.socicon-pocket:before {
  content: "\e01e";
}
.socicon-mail:before {
  content: "\e01f";
}
.socicon-blogger:before {
  content: "\e020";
}
.socicon-technorati:before {
  content: "\e021";
}
.socicon-reddit:before {
  content: "\e022";
}
.socicon-dribbble:before {
  content: "\e023";
}
.socicon-stumbleupon:before {
  content: "\e024";
}
.socicon-digg:before {
  content: "\e025";
}
.socicon-envato:before {
  content: "\e026";
}
.socicon-behance:before {
  content: "\e027";
}
.socicon-delicious:before {
  content: "\e028";
}
.socicon-deviantart:before {
  content: "\e029";
}
.socicon-forrst:before {
  content: "\e02a";
}
.socicon-play:before {
  content: "\e02b";
}
.socicon-zerply:before {
  content: "\e02c";
}
.socicon-wikipedia:before {
  content: "\e02d";
}
.socicon-apple:before {
  content: "\e02e";
}
.socicon-flattr:before {
  content: "\e02f";
}
.socicon-github:before {
  content: "\e030";
}
.socicon-renren:before {
  content: "\e031";
}
.socicon-friendfeed:before {
  content: "\e032";
}
.socicon-newsvine:before {
  content: "\e033";
}
.socicon-identica:before {
  content: "\e034";
}
.socicon-bebo:before {
  content: "\e035";
}
.socicon-zynga:before {
  content: "\e036";
}
.socicon-steam:before {
  content: "\e037";
}
.socicon-xbox:before {
  content: "\e038";
}
.socicon-windows:before {
  content: "\e039";
}
.socicon-qq:before {
  content: "\e03a";
}
.socicon-douban:before {
  content: "\e03b";
}
.socicon-meetup:before {
  content: "\e03c";
}
.socicon-playstation:before {
  content: "\e03d";
}
.socicon-android:before {
  content: "\e03e";
}
.socicon-snapchat:before {
  content: "\e03f";
}
.socicon-twitter:before {
  content: "\e040";
}
.socicon-facebook:before {
  content: "\e041";
}
.socicon-googleplus:before {
  content: "\e042";
}
.socicon-pinterest:before {
  content: "\e043";
}
.socicon-foursquare:before {
  content: "\e044";
}
.socicon-yahoo:before {
  content: "\e045";
}
.socicon-skype:before {
  content: "\e046";
}
.socicon-yelp:before {
  content: "\e047";
}
.socicon-feedburner:before {
  content: "\e048";
}
.socicon-linkedin:before {
  content: "\e049";
}
.socicon-viadeo:before {
  content: "\e04a";
}
.socicon-xing:before {
  content: "\e04b";
}
.socicon-myspace:before {
  content: "\e04c";
}
.socicon-soundcloud:before {
  content: "\e04d";
}
.socicon-spotify:before {
  content: "\e04e";
}
.socicon-grooveshark:before {
  content: "\e04f";
}
.socicon-lastfm:before {
  content: "\e050";
}
.socicon-youtube:before {
  content: "\e051";
}
.socicon-vimeo:before {
  content: "\e052";
}
.socicon-dailymotion:before {
  content: "\e053";
}
.socicon-vine:before {
  content: "\e054";
}
.socicon-flickr:before {
  content: "\e055";
}
.socicon-500px:before {
  content: "\e056";
}
.socicon-wordpress:before {
  content: "\e058";
}
.socicon-tumblr:before {
  content: "\e059";
}
.socicon-twitch:before {
  content: "\e05a";
}
.socicon-8tracks:before {
  content: "\e05b";
}
.socicon-amazon:before {
  content: "\e05c";
}
.socicon-icq:before {
  content: "\e05d";
}
.socicon-smugmug:before {
  content: "\e05e";
}
.socicon-ravelry:before {
  content: "\e05f";
}
.socicon-weibo:before {
  content: "\e060";
}
.socicon-baidu:before {
  content: "\e061";
}
.socicon-angellist:before {
  content: "\e062";
}
.socicon-ebay:before {
  content: "\e063";
}
.socicon-imdb:before {
  content: "\e064";
}
.socicon-stayfriends:before {
  content: "\e065";
}
.socicon-residentadvisor:before {
  content: "\e066";
}
.socicon-google:before {
  content: "\e067";
}
.socicon-yandex:before {
  content: "\e068";
}
.socicon-sharethis:before {
  content: "\e069";
}
.socicon-bandcamp:before {
  content: "\e06a";
}
.socicon-itunes:before {
  content: "\e06b";
}
.socicon-deezer:before {
  content: "\e06c";
}
.socicon-telegram:before {
  content: "\e06e";
}
.socicon-openid:before {
  content: "\e06f";
}
.socicon-amplement:before {
  content: "\e070";
}
.socicon-viber:before {
  content: "\e071";
}
.socicon-zomato:before {
  content: "\e072";
}
.socicon-draugiem:before {
  content: "\e074";
}
.socicon-endomodo:before {
  content: "\e075";
}
.socicon-filmweb:before {
  content: "\e076";
}
.socicon-stackexchange:before {
  content: "\e077";
}
.socicon-wykop:before {
  content: "\e078";
}
.socicon-teamspeak:before {
  content: "\e079";
}
.socicon-teamviewer:before {
  content: "\e07a";
}
.socicon-ventrilo:before {
  content: "\e07b";
}
.socicon-younow:before {
  content: "\e07c";
}
.socicon-raidcall:before {
  content: "\e07d";
}
.socicon-mumble:before {
  content: "\e07e";
}
.socicon-medium:before {
  content: "\e06d";
}
.socicon-bebee:before {
  content: "\e07f";
}
.socicon-hitbox:before {
  content: "\e080";
}
.socicon-reverbnation:before {
  content: "\e081";
}
.socicon-formulr:before {
  content: "\e082";
}
.socicon-instagram:before {
  content: "\e057";
}
.socicon-battlenet:before {
  content: "\e083";
}
.socicon-chrome:before {
  content: "\e084";
}
.socicon-discord:before {
  content: "\e086";
}
.socicon-issuu:before {
  content: "\e087";
}
.socicon-macos:before {
  content: "\e088";
}
.socicon-firefox:before {
  content: "\e089";
}
.socicon-opera:before {
  content: "\e08d";
}
.socicon-keybase:before {
  content: "\e090";
}
.socicon-alliance:before {
  content: "\e091";
}
.socicon-livejournal:before {
  content: "\e092";
}
.socicon-googlephotos:before {
  content: "\e093";
}
.socicon-horde:before {
  content: "\e094";
}
.socicon-etsy:before {
  content: "\e095";
}
.socicon-zapier:before {
  content: "\e096";
}
.socicon-google-scholar:before {
  content: "\e097";
}
.socicon-researchgate:before {
  content: "\e098";
}
.socicon-wechat:before {
  content: "\e099";
}
.socicon-strava:before {
  content: "\e09a";
}
.socicon-line:before {
  content: "\e09b";
}
.socicon-lyft:before {
  content: "\e09c";
}
.socicon-uber:before {
  content: "\e09d";
}
.socicon-songkick:before {
  content: "\e09e";
}
.socicon-viewbug:before {
  content: "\e09f";
}
.socicon-googlegroups:before {
  content: "\e0a0";
}
.socicon-quora:before {
  content: "\e073";
}
.socicon-diablo:before {
  content: "\e085";
}
.socicon-blizzard:before {
  content: "\e0a1";
}
.socicon-hearthstone:before {
  content: "\e08b";
}
.socicon-heroes:before {
  content: "\e08a";
}
.socicon-overwatch:before {
  content: "\e08c";
}
.socicon-warcraft:before {
  content: "\e08e";
}
.socicon-starcraft:before {
  content: "\e08f";
}

.socicon-bg-twitter
	background #4da7de
	&:hover
		background #4da7de !important

.socicon-bg-facebook
	background #3e5b98
	&:hover
		background #3e5b98 !important

.socicon-bg-google
	background #d93e2d
	&:hover
		background #d93e2d !important

.socicon-bg-pinterest
	background #c92619
	&:hover
		background #c92619 !important

.socicon-bg-foursquare
	background #f94877
	&:hover
		background #f94877 !important

.socicon-bg-yahoo
	background #6e2a85
	&:hover
		background #6e2a85 !important

.socicon-bg-skype
	background #28abe3
	&:hover
		background #28abe3 !important

.socicon-bg-yelp
	background #c83218
	&:hover
		background #c83218 !important

.socicon-bg-feedburner
	background #fc0
	&:hover
		background #fc0 !important

.socicon-bg-linkedin
	background #3371b7
	&:hover
		background #3371b7 !important

.socicon-bg-viadeo
	background #e4a000
	&:hover
		background #e4a000 !important

.socicon-bg-xing
	background #005a60
	&:hover
		background #005a60 !important

.socicon-bg-myspace
	background #323232
	&:hover
		background #323232 !important

.socicon-bg-soundcloud
	background #fe3801
	&:hover
		background #fe3801 !important

.socicon-bg-spotify
	background #7bb342
	&:hover
		background #7bb342 !important

.socicon-bg-grooveshark
	background #000
	&:hover
		background #000 !important

.socicon-bg-lastfm
	background #d41316
	&:hover
		background #d41316 !important

.socicon-bg-youtube
	background #e02a20
	&:hover
		background #e02a20 !important

.socicon-bg-vimeo
	background #51b5e7
	&:hover
		background #51b5e7 !important

.socicon-bg-dailymotion
	background #004e72
	&:hover
		background #004e72 !important

.socicon-bg-vine
	background #00b389
	&:hover
		background #00b389 !important

.socicon-bg-flickr
	background #1e1e1b
	&:hover
		background #1e1e1b !important

.socicon-bg-500px
	background #58a9de
	&:hover
		background #58a9de !important

.socicon-bg-instagram
	background #9c7c6e
	&:hover
		background #9c7c6e !important

.socicon-bg-wordpress
	background #464646
	&:hover
		background #464646 !important

.socicon-bg-tumblr
	background #45556c
	&:hover
		background #45556c !important

.socicon-bg-blogger
	background #ec661c
	&:hover
		background #ec661c !important

.socicon-bg-technorati
	background #5cb030
	&:hover
		background #5cb030 !important

.socicon-bg-reddit
	background #e74a1e
	&:hover
		background #e74a1e !important

.socicon-bg-dribbble
	background #e84d88
	&:hover
		background #e84d88 !important

.socicon-bg-stumbleupon
	background #e64011
	&:hover
		background #e64011 !important

.socicon-bg-digg
	background #1d1d1b
	&:hover
		background #1d1d1b !important

.socicon-bg-envato
	background #597c3a
	&:hover
		background #597c3a !important

.socicon-bg-behance
	background #000
	&:hover
		background #000 !important

.socicon-bg-delicious
	background #020202
	&:hover
		background #020202 !important

.socicon-bg-deviantart
	background #c5d200
	&:hover
		background #c5d200 !important

.socicon-bg-forrst
	background #5b9a68
	&:hover
		background #5b9a68 !important

.socicon-bg-play
	background #000
	&:hover
		background #000 !important

.socicon-bg-zerply
	background #9dbc7a
	&:hover
		background #9dbc7a !important

.socicon-bg-wikipedia
	background #000
	&:hover
		background #000 !important

.socicon-bg-apple
	background #b9bfc1
	&:hover
		background #b9bfc1 !important

.socicon-bg-flattr
	background #f67c1a
	&:hover
		background #f67c1a !important

.socicon-bg-github
	background #221e1b
	&:hover
		background #221e1b !important

.socicon-bg-chimein
	background #888688
	&:hover
		background #888688 !important

.socicon-bg-friendfeed
	background #2f72c4
	&:hover
		background #2f72c4 !important

.socicon-bg-newsvine
	background #075b2f
	&:hover
		background #075b2f !important

.socicon-bg-identica
	background #000
	&:hover
		background #000 !important

.socicon-bg-bebo
	background #ef1011
	&:hover
		background #ef1011 !important

.socicon-bg-zynga
	background #dc0606
	&:hover
		background #dc0606 !important

.socicon-bg-steam
	background #8f8d8a
	&:hover
		background #8f8d8a !important

.socicon-bg-xbox
	background #92c83e
	&:hover
		background #92c83e !important

.socicon-bg-windows
	background #00bdf6
	&:hover
		background #00bdf6 !important

.socicon-bg-outlook
	background #0072c6
	&:hover
		background #0072c6 !important

.socicon-bg-coderwall
	background #3e8dcc
	&:hover
		background #3e8dcc !important

.socicon-bg-tripadvisor
	background #000
	&:hover
		background #000 !important

.socicon-bg-appnet
	background #494949
	&:hover
		background #494949 !important

.socicon-bg-goodreads
	background #463020
	&:hover
		background #463020 !important

.socicon-bg-tripit
	background #1982c3
	&:hover
		background #1982c3 !important

.socicon-bg-lanyrd
	background #3c80c9
	&:hover
		background #3c80c9 !important

.socicon-bg-slideshare
	background #4ba3a6
	&:hover
		background #4ba3a6 !important

.socicon-bg-buffer
	background #000
	&:hover
		background #000 !important

.socicon-bg-rss
	background #f26109
	&:hover
		background #f26109 !important

.socicon-bg-vkontakte
	background #5a7fa6
	&:hover
		background #5a7fa6 !important

.socicon-bg-disqus
	background #2e9fff
	&:hover
		background #2e9fff !important

.socicon-bg-houzz
	background #7cc04b
	&:hover
		background #7cc04b !important

.socicon-bg-mail
	background #000
	&:hover
		background #000 !important

.socicon-bg-patreon
	background #e44727
	&:hover
		background #e44727 !important

.socicon-bg-paypal
	background #009cde
	&:hover
		background #009cde !important

.socicon-bg-playstation
	background #000
	&:hover
		background #000 !important

.socicon-bg-smugmug
	background #acfd32
	&:hover
		background #acfd32 !important

.socicon-bg-swarm
	background #fc9d3c
	&:hover
		background #fc9d3c !important

.socicon-bg-triplej
	background #e53531
	&:hover
		background #e53531 !important

.socicon-bg-yammer
	background #1175c4
	&:hover
		background #1175c4 !important

.socicon-bg-stackoverflow
	background #fd9827
	&:hover
		background #fd9827 !important

.socicon-bg-drupal
	background #00598e
	&:hover
		background #00598e !important

.socicon-bg-odnoklassniki
	background #f48420
	&:hover
		background #f48420 !important

.socicon-bg-android
	background #8ec047
	&:hover
		background #8ec047 !important

.socicon-bg-meetup
	background #e2373c
	&:hover
		background #e2373c !important

.socicon-bg-persona
	background #e6753d
	&:hover
		background #e6753d !important

.socicon-bg-amazon
	background #f90
	&:hover
		background #f90 !important

.socicon-bg-ello
	background #000
	&:hover
		background #000 !important

.socicon-bg-mixcloud
	background #314359
	&:hover
		background #314359 !important

.socicon-bg-8tracks
	background #122c4b
	&:hover
		background #122c4b !important

.socicon-bg-twitch
	background #6441a5
	&:hover
		background #6441a5 !important
