.box-product-wrapper
	display flex
	flex-flow row wrap
	justify-content space-around
	margin 0 -10px -40px -10px

	.box-product
		margin 0 10px 40px 10px
		width 240px
		max-width 240px
		flex 1 1 240px
