@media (min-width: 992px) and (max-width: 1199px) {
	.nav-dropdown .link.dropdown-toggle::after {
		right: -0.3em;
	}
	mob {
		display: initial;
	}
	#menu-left li {
		line-height: 2;
	}
	.navbar-dropdown #menu-1 .mbr-table-cell {
		height: 5.5rem;
		font-size: 0.8em;
	}
	.navbar-dropdown.navbar-short #menu-1 .mbr-table-cell {
		height: 4rem;
		font-size: 0.7em;
	}
	a.telem {
		margin-left: 3rem;
	}
	.navbar-dropdown.navbar-short #menu-1 #top-phone.mbr-table-cell {
		font-size: 0.8em;
		margin-left: 0;
	}
	.navbar-dropdown .navbar-logo img {
		height: 4.325rem;
	}
	.navbar-dropdown.navbar-short .navbar-logo img {
		height: 3.325rem;
	}
	#menu-left .link {
		font-size: 0.9em;
		line-height: 1.2;
	}
	.navbar-dropdown.navbar-short #menu-1 .mask.mbr-table-cell {
		width: 85%;
		height: inherit;
	}
	.cn-bar {
		right: 1rem;
		left: 1rem;
	}
	.cn-nav-content h3 {
		font-size: 12px;
	}
	a.buttons {
		font-size: 0.9em;
	}
	.ico {
		width: 8.33333rem;
		height: 9rem;
	}
	p {
		font-size: 0.95em;
	}
	a {
		font-size: 0.9em;
	}
	h3 {
		font-size: 1.3em;
	}
	h4.nav-f {
		font-size: 0.9em;
	}
	.navfoot a {
		font-size: 0.7em;
	}
	ul.foot-cont {
		font-size: 1em;
	}
	p.marg-left {
		font-size: 0.8em;
	}
	.box-price {
		height: 14.777rem;
	}
	.tabs ul li {
		font-size: 0.9rem;
	}
	.icons {
		top: 3em;
	}
	.navbar-dropdown #menu-1 p.top-text.mbr-table-cell {
		font-size: 0.8em;
	}
	#menu-0 .link {
		font-size: 9px;
	}
	.cn-nav-content {
		right: 30px;
		left: 30px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	mob {
		display: none;
	}
	.nav-dropdown .link.dropdown-toggle::after {
		right: 0;
	}
	#top-phone ul {
		display: none;
	}
	a.telem {
		font-size: 2.5em;
		position: relative;
	}
	.top-text {
		display: none;
	}
	.navbar-dropdown #menu-1 .mbr-table-cell {
		height: 4rem;
	}
	.navbar-dropdown.navbar-short #menu-1 .mbr-table-cell {
		height: 3rem;
	}
	.navbar-dropdown #menu-1 #top-phone.mbr-table-cell {
		margin: 0;
	}
	.navbar-dropdown .navbar-logo img {
		height: 4.325rem;
	}
	.navbar-dropdown.navbar-short .navbar-logo img {
		height: 3.325rem;
	}
	.navbar-dropdown.navbar-short #menu-1 .mask.mbr-table-cell {
		height: inherit;
	}
	#menu-left .link {
		font-size: 0.9em;
	}
	#menu-left li {
		line-height: 2;
	}
	.ico {
		width: 8rem;
	}
	section.map {
		min-height: 45em;
	}
	.cn-slideshow {
		height: 48.05rem;
	}
	.box-price {
		height: 11.777rem;
	}
	.ico-li {
		margin-right: 0px;
	}
	.box-sps {
		letter-spacing: 1px;
	}
	h3.bg-col {
		border-radius: 0;
	}
	p {
		font-size: 0.95em;
	}
	p.marg-left {
		text-align: center;
		display: block;
	}
	p.marg-left span.conts {
		top: 4px;
	}
	.img-bgr {
		width: 18rem;
	}
	#catalog .info-price {
		width: 8rem;
		line-height: 1.2;
	}
	#catalog .price {
		font-size: 1em;
	}
	#catalog .ctl-info {
		width: 4rem;
		background-color: rgba(255, 255, 255, 0.9);
	}
	#catalog .information {
		margin-left: 0.9rem;
		top: 8em;
	}
	#catalog .ico-li {
		top: -1.2rem;
		margin: 3px -2px;
	}
	a.buttons {
		font-size: 0.8em;
	}
	.tabs ul li {
		font-size: 0.8em;
		padding: 5px;
	}
	.icons {
		top: 3.5em;
	}
	.accord {
		top: -12rem;
	}
	.cn-nav-content {
		right: 40px;
		left: 40px;
	}
}
@media (min-width: 600px) and (max-width: 767px) {
	.top-text {
		display: none;
	}
	#top-phone ul {
		display: none;
	}
	#menu-0 .navbar,
	#menu-0 .nav-dropdown-sm,
	#menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
	#menu-0 .nav-dropdown-sm .dropdown-menu {
		box-shadow: 0 1px 3px rgba(19, 31, 51, 0.25);
		text-transform: uppercase;
	}
	.navbar-dropdown.opened {
		background: #ffffff!important;
	}
	#menu-left .link {
		font-size: 0.9em;
	}
	#menu-left .link mob {
		display: none;
	}
	#menu-left li {
		line-height: 2;
	}
	#menu-1 .col-lg-3.col-md-4 {
		padding: 0;
	}
	.navbar-dropdown .navbar-logo img {
		height: 4.325rem;
		margin: inherit;
	}
	.navbar-dropdown #menu-1 .mbr-table-cell {
		height: 4rem;
	}
	.navbar-dropdown.navbar-short #menu-1 .mbr-table-cell {
		height: 2.5rem;
	}
	.navbar-dropdown #menu-1 #top-phone.mbr-table-cell {
		margin: 0.4rem 0 0;
	}
	.navbar-dropdown.navbar-short .navbar-logo img {
		height: 3.325rem;
		margin: -2.8rem 0 0 0;
	}
	a.telem {
		margin-left: 2rem;
	}
	.navbar-dropdown.navbar-short #menu-1 #top-phone.mbr-table-cell {
		margin-left: 0.6rem;
	}
	.navbar-dropdown #menu-1 .mask.mbr-table-cell {
		width: 50%;
	}
	.navbar-dropdown.navbar-short #menu-1 .mask.mbr-table-cell {
		width: 100%;
		opacity: 0;
	}
	.navbar-dropdown #menu-1 .block-h.white-100.mbr-table-cell {
		width: 50%;
		background-color: #fff;
	}
	.navbar-dropdown.navbar-short #menu-1 .block-h.white-100.mbr-table-cell {
		width: 100%;
		background-color: transparent;
		box-shadow: none;
		top: inherit;
	}
	.navbar-dropdown.navbar-short .block-h.white-100.mbr-table-cell #menu-left {
		display: inline-flex!important;
		position: absolute!important;
		top: -37px!important;
		left: 109px!important;
	}
	.navbar-dropdown #menu-1 .block-h.white-100.mbr-table-cell #menu-left {
		display: block;
		position: relative;
		top: inherit;
		left: inherit;
	}
	.cn-bar {
		right: 0;
		left: 0;
	}
	.ico {
		width: 10.33333rem;
	}
	a.buttons {
		font-size: 0.8em;
	}
	a.subcr {
		margin-top: 1rem;
	}
	h3.bg-col {
		border-radius: 0;
	}
	h3 {
		font-size: 1.2em;
	}
	.lines {
		font-size: 0.8em;
	}
	#logo-foot {
		position: relative;
		width: 150px;
		top: 0;
		left: 0;
		display: block;
		margin: 0 auto;
	}
	p.text-foot {
		width: 100%;
		margin-left: 0;
		margin-top: 10px;
		text-align: center;
	}
	ul.foot-cont {
		font-family: 'Noto Serif', Verdana, sans-serif;
		font-size: 1em;
		list-style-type: none;
		padding: 0;
		text-align: center;
	}
	p.marg-left {
		display: block;
		font-size: 1em;
		text-align: center;
	}
	p.marg-left span.conts {
		top: 4px;
	}
	p#logo-company {
		text-align: center;
		margin-top: 30px;
	}
	#copywriter span {
		text-align: center;
	}
	.cn-slideshow {
		height: 50rem;
	}
	.icons {
		top: 3.5em;
	}
	#map-2 .bgtop {
		height: 195px;
	}
	p.informer {
		font-size: 0.8em;
	}
	.informer-detail {
		display: none;
	}
	.accord {
		top: -1.5rem;
	}
	span.region {
		top: 2px;
	}
	#map-2 h3.bold {
		margin-bottom: 0;
	}
	.price-info {
		margin: 0;
	}
	#acc a.subcr {
		font-size: 13px;
	}
	.nav-dropdown .link.dropdown-toggle::after {
		right: 1rem;
	}
	#tab .tabs p {
		font-size: 85%;
	}
	#tab .tabs {
		margin: 2rem 0;
	}
	.cn-nav-content {
		right: 40px;
		left: 40px;
	}
}
@media (min-width: 480px) and (max-width: 599px) {
	.top-text {
		display: none;
	}
	#top-phone ul {
		display: none;
	}
	#menu-0 .navbar,
	#menu-0 .nav-dropdown-sm,
	#menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
	#menu-0 .nav-dropdown-sm .dropdown-menu {
		box-shadow: 0 1px 3px rgba(19, 31, 51, 0.25);
		text-transform: uppercase;
	}
	.navbar-dropdown.opened {
		background: #ffffff!important;
	}
	#menu-left .link {
		font-size: 0.8em;
	}
	#menu-left li {
		line-height: 2;
		margin: 0.5rem auto 0;
	}
	#menu-1 .col-lg-3.col-md-4 {
		padding: 0;
	}
	.navbar-dropdown .navbar-logo img {
		height: 4.325rem;
		margin: inherit;
	}
	.navbar-dropdown #menu-1 .mbr-table-cell {
		height: 3rem;
	}
	.navbar-dropdown.navbar-short #menu-1 .mbr-table-cell {
		height: 2.5rem;
	}
	.navbar-dropdown #menu-1 #top-phone.mbr-table-cell {
		margin: 0.4rem 0 0;
		top: -19rem;
	}
	.navbar-dropdown.navbar-short .navbar-logo img {
		height: 3.325rem;
		margin: -3.1rem 0 0 0;
	}
	a.telem {
		margin-left: 2rem;
		right: 1.2rem;
	}
	.navbar-dropdown.navbar-short #menu-1 #top-phone.mbr-table-cell {
		margin-left: 0.6rem;
		top: -5rem;
	}
	.navbar-dropdown #menu-1 .mask.mbr-table-cell {
		width: 50%;
	}
	.navbar-dropdown.navbar-short #menu-1 .mask.mbr-table-cell {
		width: 100%;
		opacity: 0;
	}
	.navbar-dropdown #menu-1 .block-h.white-100.mbr-table-cell {
		width: 50%;
		background-color: #fff;
	}
	.navbar-dropdown.navbar-short #menu-1 .block-h.white-100.mbr-table-cell {
		width: 100%;
		background-color: transparent;
		box-shadow: none;
		top: inherit;
	}
	.navbar-dropdown.navbar-short .block-h.white-100.mbr-table-cell #menu-left {
		display: inline-flex!important;
		position: absolute!important;
		top: -2.5rem!important;
		left: 0!important;
	}
	.navbar-dropdown #menu-1 .block-h.white-100.mbr-table-cell #menu-left {
		display: block;
		position: relative;
		top: inherit;
		left: inherit;
	}
	.menu-left mob {
		display: none;
	}
	.cn-bar {
		right: 0;
		left: 0;
		bottom: 4rem;
	}
	.cn-nav > a {
		top: 3.8rem;
		z-index: 10;
	}
	.cn-nav-content {
		position: absolute;
		top: 0;
		height: 100%;
		right: 0;
		left: 0;
		overflow: hidden;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
		width: 100%;
	}
	.cn-nav-content div.cn-nav-content-current {
		width: 100%;
		left: 0;
		margin-left: 0;
	}
	.cn-bar a.buttons {
		font-size: 10px;
	}
	.ico {
		width: 13.33333rem;
	}
	.base {
		margin-bottom: 30px;
	}
	.but mob {
		display: none;
	}
	.box-price {
		height: 12.777rem;
	}
	.box-sps {
		letter-spacing: 1px;
	}
	a {
		font-size: 0.9em;
	}
	p {
		font-size: 0.9em;
	}
	a.buttons {
		font-size: 0.8em;
	}
	a.subcr {
		margin-top: 1rem;
	}
	h3.bg-col {
		border-radius: 0;
	}
	h3 {
		font-size: 1.1em;
	}
	.lines {
		font-size: 0.8em;
	}
	#logo-foot {
		position: relative;
		width: 150px;
		top: 0;
		left: 0;
		display: block;
		margin: 0 auto;
	}
	p.text-foot {
		width: 100%;
		margin-left: 0;
		margin-top: 10px;
		text-align: center;
	}
	ul.foot-cont {
		font-family: 'Noto Serif', Verdana, sans-serif;
		font-size: 1em;
		list-style-type: none;
		padding: 0;
		text-align: center;
	}
	p.marg-left {
		display: block;
		font-size: 1em;
		text-align: center;
	}
	p.marg-left span.conts {
		top: 4px;
	}
	p#logo-company {
		text-align: center;
		margin-top: 30px;
	}
	#copywriter span {
		text-align: center;
	}
	.cn-slideshow {
		height: 50rem;
	}
	.navfoot {
		text-align: center;
	}
	.navfoot ul {
		text-align: center;
	}
	.ico-li {
		margin-right: 0;
	}
	.tabs ul li {
		font-size: 0.7rem;
		margin-top: 30px;
	}
	.tabs article {
		font-size: 85%;
	}
	#map-2 .informer-detail {
		display: none;
	}
	#map-2 p.informer {
		font-size: 0.8em;
	}
	#map-2 .accord {
		top: -2rem;
	}
	#map-2 .bgtop {
		height: 170px;
	}
	#tab .icons {
		top: 3em;
	}
	#acc a.subcr {
		font-size: 13px;
	}
	.owl-theme .owl-nav [class*=owl-] {
		display: none;
	}
}
@media (min-width: 320px) and (max-width: 479px) {
	.ico-li {
		margin-right: 0;
	}
	.top-text {
		display: none;
	}
	#top-phone ul {
		display: none;
	}
	#menu-0 .navbar,
	#menu-0 .nav-dropdown-sm,
	#menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
	#menu-0 .nav-dropdown-sm .dropdown-menu {
		box-shadow: 0 1px 3px rgba(19, 31, 51, 0.25);
		text-transform: uppercase;
	}
	.navbar-dropdown.opened {
		background: #ffffff!important;
	}
	#menu-left .link {
		font-size: 0.75em;
	}
	#menu-left li {
		line-height: 2;
		margin: 0.5rem auto 0;
	}
	#menu-1 .col-lg-3.col-md-4 {
		padding: 0;
	}
	.navbar-dropdown .navbar-logo img {
		height: 4.325rem;
		margin: inherit;
	}
	.navbar-dropdown #menu-1 .mbr-table-cell {
		height: 3rem;
	}
	.navbar-dropdown.navbar-short #menu-1 .mbr-table-cell {
		height: 2.5rem;
	}
	.navbar-dropdown #menu-1 #top-phone.mbr-table-cell {
		margin: 0.4rem 0 0;
		top: -18.8rem;
	}
	.navbar-dropdown.navbar-short .navbar-logo img {
		height: 3.325rem;
		margin: -3.1rem 0 0 0;
	}
	a.telem {
		margin-left: 2rem;
		right: 1.2rem;
	}
	.navbar-dropdown.navbar-short #menu-1 #top-phone.mbr-table-cell {
		margin-left: 0.6rem;
		top: -5rem;
	}
	.navbar-dropdown #menu-1 .mask.mbr-table-cell {
		width: 66%;
	}
	.navbar-dropdown.navbar-short #menu-1 .mask.mbr-table-cell {
		width: 100%;
		opacity: 0;
	}
	.navbar-dropdown #menu-1 .block-h.white-100.mbr-table-cell {
		width: 66%;
		background-color: #fff;
	}
	.navbar-dropdown.navbar-short #menu-1 .block-h.white-100.mbr-table-cell {
		width: 100%;
		background-color: transparent;
		box-shadow: none;
		top: inherit;
	}
	.navbar-dropdown.navbar-short .block-h.white-100.mbr-table-cell #menu-left {
		display: inline-flex!important;
		position: absolute!important;
		top: -2.5rem!important;
		left: 0!important;
	}
	.navbar-dropdown #menu-1 .block-h.white-100.mbr-table-cell #menu-left {
		display: block;
		position: relative;
		top: inherit;
		left: inherit;
	}
	.menu-left mob {
		display: none;
	}
	.cn-bar {
		right: 0;
		left: 0;
		bottom: 4rem;
	}
	.cn-nav > a {
		top: -10.2rem;
		z-index: 10;
	}
	.cn-nav-content {
		position: absolute;
		top: 0;
		height: 100%;
		right: 0;
		left: 0;
		overflow: hidden;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
		width: 100%;
	}
	.cn-nav-content div.cn-nav-content-current {
		width: 100%;
		left: 0;
		margin-left: 0;
	}
	.cn-bar a.buttons {
		font-size: 10px;
	}
	.ico {
		width: 7.5rem;
	}
	.buttons mob {
		display: none;
	}
	.base {
		margin-bottom: 30px;
	}
	.but mob {
		display: none;
	}
	.box-price {
		height: 11.777rem;
	}
	.box-sps {
		letter-spacing: 1px;
	}
	a {
		font-size: 0.9em;
	}
	p {
		font-size: 0.8em;
	}
	a.buttons {
		font-size: 0.8em;
		width: 100%;
		text-align: center;
	}
	a.subcr {
		margin-top: 1rem;
	}
	h3.bg-col {
		border-radius: 0;
	}
	h3 {
		font-size: 1.1em;
		text-align: center;
		line-height: 1.5;
	}
	.lines {
		font-size: 0.8em;
		text-align: center;
	}
	#logo-foot {
		position: relative;
		width: 150px;
		top: 0;
		left: 0;
		display: block;
		margin: 0 auto;
	}
	p.text-foot {
		width: 100%;
		margin-left: 0;
		margin-top: 10px;
		text-align: center;
	}
	ul.foot-cont {
		font-family: 'Noto Serif', Verdana, sans-serif;
		font-size: 1em;
		list-style-type: none;
		padding: 0;
		text-align: center;
	}
	p.marg-left {
		display: block;
		font-size: 1em;
		text-align: center;
	}
	p.marg-left span.conts {
		top: 4px;
	}
	p#logo-company {
		text-align: center;
		margin-top: 30px;
	}
	#copywriter span {
		text-align: center;
	}
	.cn-slideshow {
		height: 50rem;
	}
	.navfoot {
		text-align: center;
	}
	.navfoot ul {
		text-align: center;
	}
	.cn-nav-content h2 {
		font-size: 1em;
	}
	.nav-dropdown .link.dropdown-toggle::after {
		right: 1rem;
	}
	#subscribe input {
		width: 98%;
	}
	.square {
		margin: 0 0 10px;
	}
	.box-area {
		display: block;
		z-index: 100;
		position: relative;
		background: #fff;
	}
	span.icon-fa-info {
		top: -5px;
		left: -8px;
	}
	.img-bgr {
		width: 14.7rem;
	}
	#catalog .info-price {
		width: 8rem;
		line-height: 1.2;
	}
	#catalog .price {
		font-size: 1em;
	}
	#catalog .ctl-info {
		width: 0;
		background-color: rgba(255, 255, 255, 0.9);
	}
	#catalog .information {
		display: none;
	}
	#tree .navbar-dropdown #menu-1 #top-phone.mbr-table-cell {
		margin: 0.4rem 0 0;
		top: -25rem;
	}
	#tree .navbar-dropdown.navbar-short #menu-1 #top-phone.mbr-table-cell {
		margin-left: 0.6rem;
		top: -5.4rem;
	}
	#tab .icons {
		top: 2.3em;
	}
	.tabs ul li {
		font-size: 0.6rem;
		padding: 5px;
		margin-top: 25px;
	}
	.tabs article {
		font-size: 90%;
	}
	#map-2 .bgtop {
		height: 215px;
	}
	#map-2 p.informer {
		font-size: 1em;
		text-align: center;
	}
	#map-2 .informer-detail {
		display: none;
	}
	#map-2 .accord {
		top: -1rem;
	}
	#acc a.subcr {
		font-size: 0.8rem;
	}
	#acc .price-info {
		margin: 0;
	}
	.owl-theme .owl-nav [class*=owl-] {
		display: none;
	}
}
