// // Breakpoints

$breakpoint-xs = 0
$breakpoint-sm = 544px
$breakpoint-md = 768px
$breakpoint-lg = 992px
$breakpoint-xl = 1200px

// rupture.scale = $breakpoint-xs $breakpoint-sm $breakpoint-md $breakpoint-lg $breakpoint-xl

$font-heading = 'Noto Serif', Verdana, sans-serif
$font-base = 'Raleway', Verdana, sans-serif
$font-roboto = 'Roboto', Verdana, sans-serif
$transition-default = all 0.2s ease-in-out 0s

$primary-color = #bbd143
$secondary-color = #fff0a2

$link-hover = #bbd143
