.iconwrap
li.iconwrap
	position relative
	margin-top 8px
	margin-bottom 8px
	list-style-type none

	&__icon
		position absolute
		left 0
		top 0

	.typo-h1
	.typo-h2
	.typo-h3
	.typo-h4
	.typo-h5
		margin 0

.iconwrap--md
	padding 0 0 0 34px
	min-height 24px
	line-height 24px

.iconwrap-list
	padding 0
	list-style-type none
