typo-h1()
	font-family $font-heading
	font-weight normal
	font-size 22px
	line-height 26px
	text-transform uppercase
	letter-spacing .1ex
	border-left 5px solid #b11e4d
	padding 1px 0 1px 13px
	color #282828
	margin 0 0 21px 0

typo-h2()
	font-family $font-heading
	font-weight normal
	font-size 20px
	line-height 24px
	color #282828
	margin 0 0 21px 0

typo-h3()
	font-family $font-heading
	font-weight normal
	font-size 18px
	line-height 20px
	color #282828
	margin 0 0 21px 0

typo-h4()
	font-family $font-heading
	font-weight normal
	font-size 16px
	line-height 20px
	color #282828
	margin 0 0 21px 0

typo-h5()
	font-family $font-heading
	font-weight normal
	font-size 14px
	line-height 20px
	color #282828
	margin 0 0 21px 0

typo-body()
	font-family $font-base
	font-weight 300
	font-size 14px
	line-height 21.333px
	color #282828
