.icon
	display inline-block
	text-align center
	vertical-align middle

	&:before
		content ''
		display inline-block
		vertical-align top
		background-position 50% 50%
		background-repeat no-repeat

	&--close-accent-md
		&:before
			sprite($icon_close_accent_md)
